<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/regLogin.css') }}">

    <link rel="apple-touch-icon" href="{{ url_for('static',filename='images/logo2.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/logo2.png') }}">

    {% if title %}
    <title>Graphaite</title>
    {% else %}
    <title>Graphaite</title>
    {% endif %}
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="/">Graphaite</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link " href="/">Home</a>
                        <a class="nav-item nav-link active" href="/features">Features</a>
                        <a class="nav-item nav-link" href="/gallery">Gallery</a>
                        <a class="nav-item nav-link" href="/faq">FAQ</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/register">Sign Up for Free</a>
                        <a class="nav-item nav-link" href="/login">Login</a>

                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-section">

                    <legend class="border-bottom mb-6">Automated Visualitions using AI</legend>
                    <p style="text-align:justify">
                        Graphaite uses AI and Machine Learning to automate and accelerate the visualizations to find
                        important insights from
                        dataset. After connecting the dataset, we can also set the feature and class variable for
                        automatic data visualizations, with
                        minimal manual effort. Currently, in this prototype version of Graphaite, it only supports .csv
                        formatted dataset.
                    </p>


                    <legend class="border-bottom mb-6">Automated Dashboard Development</legend>
                    <p style="text-align:justify">
                        Graphaite also automatically creates Dashboard comprising of the auto generated visualizations.
                        The
                        individual visualizations are categorized as per the feature variables for easier management
                        and
                        presentation.
                    </p>

                    <legend class="border-bottom mb-6">Interactive Graphs</legend>
                    <p style="text-align:justify">
                        The graphs generated are interactive (i.e., using Plotly in this prototype version). In
                        contrast to static (i.e., png/jpg) image,
                        you can interact with the visualizations for further investigation of the plotted data points,
                        such as, zoom-in, zoom-out, selecting
                        subset of the data points, investigating the correponding data values and so on.

                    </p>


                    <legend class="border-bottom mb-6">Customize Auto Generated Visualitions</legend>
                    <p style="text-align:justify">
                        You can take the auto generated visualizations as base for further customization as per your
                        likings. This could be an efficient worflow to accelerate the insight finding and reporting via
                        visualizations, as the majority of the heavy lifting (i.e., searching for insight and building
                        visualizations) are already done using AI and Machine Learning.
                    </p>

                    <legend class="border-bottom mb-6">Create New Visualitions from Scratch using Drag & Drop</legend>
                    <p style="text-align:justify">
                        Graphaite also provides feature
                    </p>
                </div>

            </div>

        </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>